<div th:fragment="navbar">
  <nav class="navbar bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Tienda</a>

      <div class="ms-auto">
        <ul class="navbar-nav d-flex flex-row">
          <li class="nav-item mx-3">
            <a th:href="@{/catalog}" class="nav-link" href="#">Comprar</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link" href="#">Ventas Realizadas</a>
          </li>
          <li class="nav-item mx-3">
            <a th:href="@{/products}" class="nav-link">Administrar Productos</a>
          </li>
          <li class="nav-item mx-3">
            <a th:href="@{/cart}" class="nav-link">Carrito (0)</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

